<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.hoso.model.ExaminationDrugsItemsMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.hoso.model.ExaminationDrugsItems" >
    <constructor >
      <idArg column="Examination_Drugs_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Examination_Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Drugs_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Usage" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Actual_Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Drugs_Dispensing_Status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Expense_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Examination_Drugs_Items_ID, Examination_Fmedical_Items_ID, Drugs_ID, Usage, Quantity, 
    Actual_Quantity, Drugs_Dispensing_Status, Expense_Items_ID, Doctor_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.hoso.example.ExaminationDrugsItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from examination_drugs_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.hoso.example.ExaminationDrugsItemsExample" >
    delete from examination_drugs_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.hoso.model.ExaminationDrugsItems" >
    <selectKey resultType="java.lang.Integer" keyProperty="examinationDrugsItemsId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into examination_drugs_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      Examination_Drugs_Items_ID,
      <if test="examinationFmedicalItemsId != null" >
        Examination_Fmedical_Items_ID,
      </if>
      <if test="drugsId != null" >
        Drugs_ID,
      </if>
      <if test="usage != null" >
        Usage,
      </if>
      <if test="quantity != null" >
        Quantity,
      </if>
      <if test="actualQuantity != null" >
        Actual_Quantity,
      </if>
      <if test="drugsDispensingStatus != null" >
        Drugs_Dispensing_Status,
      </if>
      <if test="expenseItemsId != null" >
        Expense_Items_ID,
      </if>
      <if test="doctorId != null" >
        Doctor_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{examinationDrugsItemsId,jdbcType=INTEGER},
      <if test="examinationFmedicalItemsId != null" >
        #{examinationFmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="drugsId != null" >
        #{drugsId,jdbcType=INTEGER},
      </if>
      <if test="usage != null" >
        #{usage,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="actualQuantity != null" >
        #{actualQuantity,jdbcType=INTEGER},
      </if>
      <if test="drugsDispensingStatus != null" >
        #{drugsDispensingStatus,jdbcType=CHAR},
      </if>
      <if test="expenseItemsId != null" >
        #{expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.hoso.example.ExaminationDrugsItemsExample" resultType="java.lang.Integer" >
    select count(*) from examination_drugs_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update examination_drugs_items
    <set >
      <if test="record.examinationDrugsItemsId != null" >
        Examination_Drugs_Items_ID = #{record.examinationDrugsItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.examinationFmedicalItemsId != null" >
        Examination_Fmedical_Items_ID = #{record.examinationFmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.drugsId != null" >
        Drugs_ID = #{record.drugsId,jdbcType=INTEGER},
      </if>
      <if test="record.usage != null" >
        Usage = #{record.usage,jdbcType=CHAR},
      </if>
      <if test="record.quantity != null" >
        Quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.actualQuantity != null" >
        Actual_Quantity = #{record.actualQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.drugsDispensingStatus != null" >
        Drugs_Dispensing_Status = #{record.drugsDispensingStatus,jdbcType=CHAR},
      </if>
      <if test="record.expenseItemsId != null" >
        Expense_Items_ID = #{record.expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null" >
        Doctor_ID = #{record.doctorId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update examination_drugs_items
    set Examination_Drugs_Items_ID = #{record.examinationDrugsItemsId,jdbcType=INTEGER},
      Examination_Fmedical_Items_ID = #{record.examinationFmedicalItemsId,jdbcType=INTEGER},
      Drugs_ID = #{record.drugsId,jdbcType=INTEGER},
      Usage = #{record.usage,jdbcType=CHAR},
      Quantity = #{record.quantity,jdbcType=INTEGER},
      Actual_Quantity = #{record.actualQuantity,jdbcType=INTEGER},
      Drugs_Dispensing_Status = #{record.drugsDispensingStatus,jdbcType=CHAR},
      Expense_Items_ID = #{record.expenseItemsId,jdbcType=INTEGER},
      Doctor_ID = #{record.doctorId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.hoso.model.ExaminationDrugsItems" >
    update examination_drugs_items
    <set >
      <if test="examinationFmedicalItemsId != null" >
        Examination_Fmedical_Items_ID = #{examinationFmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="drugsId != null" >
        Drugs_ID = #{drugsId,jdbcType=INTEGER},
      </if>
      <if test="usage != null" >
        Usage = #{usage,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        Quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="actualQuantity != null" >
        Actual_Quantity = #{actualQuantity,jdbcType=INTEGER},
      </if>
      <if test="drugsDispensingStatus != null" >
        Drugs_Dispensing_Status = #{drugsDispensingStatus,jdbcType=CHAR},
      </if>
      <if test="expenseItemsId != null" >
        Expense_Items_ID = #{expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        Doctor_ID = #{doctorId,jdbcType=INTEGER},
      </if>
    </set>
    where Examination_Drugs_Items_ID = #{examinationDrugsItemsId,jdbcType=INTEGER}
  </update>
</mapper>