<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.hoso.model.ExpenseItemsMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.hoso.model.ExpenseItems" >
    <constructor >
      <idArg column="Expense_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Medical_Record_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Total_Cost" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Pay_Status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Invoice_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Expense_Type_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Expense_Items_ID, Medical_Record_ID, Total_Cost, Pay_Status, Invoice_ID, Expense_Type_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.hoso.example.ExpenseItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from expense_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.hoso.example.ExpenseItemsExample" >
    delete from expense_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.hoso.model.ExpenseItems" >
    <selectKey resultType="java.lang.Integer" keyProperty="expenseItemsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into expense_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="medicalRecordId != null" >
        Medical_Record_ID,
      </if>
      <if test="totalCost != null" >
        Total_Cost,
      </if>
      <if test="payStatus != null" >
        Pay_Status,
      </if>
      <if test="invoiceId != null" >
        Invoice_ID,
      </if>
      <if test="expenseTypeId != null" >
        Expense_Type_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="medicalRecordId != null" >
        #{medicalRecordId,jdbcType=INTEGER},
      </if>
      <if test="totalCost != null" >
        #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="invoiceId != null" >
        #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="expenseTypeId != null" >
        #{expenseTypeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.hoso.example.ExpenseItemsExample" resultType="java.lang.Integer" >
    select count(*) from expense_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update expense_items
    <set >
      <if test="record.expenseItemsId != null" >
        Expense_Items_ID = #{record.expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.medicalRecordId != null" >
        Medical_Record_ID = #{record.medicalRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.totalCost != null" >
        Total_Cost = #{record.totalCost,jdbcType=DOUBLE},
      </if>
      <if test="record.payStatus != null" >
        Pay_Status = #{record.payStatus,jdbcType=CHAR},
      </if>
      <if test="record.invoiceId != null" >
        Invoice_ID = #{record.invoiceId,jdbcType=INTEGER},
      </if>
      <if test="record.expenseTypeId != null" >
        Expense_Type_ID = #{record.expenseTypeId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update expense_items
    set Expense_Items_ID = #{record.expenseItemsId,jdbcType=INTEGER},
      Medical_Record_ID = #{record.medicalRecordId,jdbcType=INTEGER},
      Total_Cost = #{record.totalCost,jdbcType=DOUBLE},
      Pay_Status = #{record.payStatus,jdbcType=CHAR},
      Invoice_ID = #{record.invoiceId,jdbcType=INTEGER},
      Expense_Type_ID = #{record.expenseTypeId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.hoso.model.ExpenseItems" >
    update expense_items
    <set >
      <if test="medicalRecordId != null" >
        Medical_Record_ID = #{medicalRecordId,jdbcType=INTEGER},
      </if>
      <if test="totalCost != null" >
        Total_Cost = #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="payStatus != null" >
        Pay_Status = #{payStatus,jdbcType=CHAR},
      </if>
      <if test="invoiceId != null" >
        Invoice_ID = #{invoiceId,jdbcType=INTEGER},
      </if>
      <if test="expenseTypeId != null" >
        Expense_Type_ID = #{expenseTypeId,jdbcType=INTEGER},
      </if>
    </set>
    where Expense_Items_ID = #{expenseItemsId,jdbcType=INTEGER}
  </update>
</mapper>