<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.hoso.model.GroupExaminationFmedicalItemsMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.hoso.model.GroupExaminationFmedicalItems" >
    <constructor >
      <idArg column="Group_Examination_Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Group_Examination_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Purpose_Requirements" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <!--  添加非药品对象的ResultMap by @29-y 2019.06.18 -->
  <!--  检查检验组套药品条目列表因没有结果映射需要注释掉 -->
  <resultMap id="SecondResultMap" type="edu.neu.hoso.model.GroupExaminationFmedicalItems" >
    <id property="groupExaminationFmedicalItemsId" column="Group_Examination_Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="groupExaminationId" column="Group_Examination_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="fmedicalItemsId" column="Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="purposeRequirements" column="Purpose_Requirements" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result property="quantity" column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <association property="fmedicalItems" javaType="edu.neu.hoso.model.FmedicalItems" resultMap="edu.neu.hoso.model.FmedicalItemsMapper.BaseResultMap"/>
<!--    <collection property="groupExaminationDrugsItemsList" ofType="edu.neu.hoso.model.GroupExaminationFmedicalItems" resultMap="edu.neu.hoso.model.GroupExaminationFmedicalItemsMapper.SecondResultMap"/>-->
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Group_Examination_Fmedical_Items_ID, Group_Examination_ID, Fmedical_Items_ID, Purpose_Requirements, 
    Quantity
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.hoso.example.GroupExaminationFmedicalItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from group_examination_fmedical_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.hoso.example.GroupExaminationFmedicalItemsExample" >
    delete from group_examination_fmedical_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.hoso.model.GroupExaminationFmedicalItems" >
    <selectKey resultType="java.lang.Integer" keyProperty="groupExaminationFmedicalItemsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into group_examination_fmedical_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupExaminationId != null" >
        Group_Examination_ID,
      </if>
      <if test="fmedicalItemsId != null" >
        Fmedical_Items_ID,
      </if>
      <if test="purposeRequirements != null" >
        Purpose_Requirements,
      </if>
      <if test="quantity != null" >
        Quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupExaminationId != null" >
        #{groupExaminationId,jdbcType=INTEGER},
      </if>
      <if test="fmedicalItemsId != null" >
        #{fmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="purposeRequirements != null" >
        #{purposeRequirements,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.hoso.example.GroupExaminationFmedicalItemsExample" resultType="java.lang.Integer" >
    select count(*) from group_examination_fmedical_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update group_examination_fmedical_items
    <set >
      <if test="record.groupExaminationFmedicalItemsId != null" >
        Group_Examination_Fmedical_Items_ID = #{record.groupExaminationFmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.groupExaminationId != null" >
        Group_Examination_ID = #{record.groupExaminationId,jdbcType=INTEGER},
      </if>
      <if test="record.fmedicalItemsId != null" >
        Fmedical_Items_ID = #{record.fmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.purposeRequirements != null" >
        Purpose_Requirements = #{record.purposeRequirements,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        Quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update group_examination_fmedical_items
    set Group_Examination_Fmedical_Items_ID = #{record.groupExaminationFmedicalItemsId,jdbcType=INTEGER},
      Group_Examination_ID = #{record.groupExaminationId,jdbcType=INTEGER},
      Fmedical_Items_ID = #{record.fmedicalItemsId,jdbcType=INTEGER},
      Purpose_Requirements = #{record.purposeRequirements,jdbcType=VARCHAR},
      Quantity = #{record.quantity,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.hoso.model.GroupExaminationFmedicalItems" >
    update group_examination_fmedical_items
    <set >
      <if test="groupExaminationId != null" >
        Group_Examination_ID = #{groupExaminationId,jdbcType=INTEGER},
      </if>
      <if test="fmedicalItemsId != null" >
        Fmedical_Items_ID = #{fmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="purposeRequirements != null" >
        Purpose_Requirements = #{purposeRequirements,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        Quantity = #{quantity,jdbcType=INTEGER},
      </if>
    </set>
    where Group_Examination_Fmedical_Items_ID = #{groupExaminationFmedicalItemsId,jdbcType=INTEGER}
  </update>
</mapper>