<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.hoso.model.GroupTreatmentItemsMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.hoso.model.GroupTreatmentItems" >
    <constructor >
      <idArg column="Group_Treatment_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Group_Treatment_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Group_Treatment_Scope" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <!--  添加非药品条目的ResultMap by 29-y 2019.06.17 -->
  <resultMap id="SecondResultMap" type="edu.neu.hoso.model.GroupTreatmentItems">
    <id property="groupTreatmentItemsId" column="Group_Treatment_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="groupTreatmentId" column="Group_Treatment_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="fmedicalItemsId" column="Fmedical_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="quantity" column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="groupTreatmentScope" column="Group_Treatment_Scope" jdbcType="CHAR" javaType="java.lang.String" />
    <association property="fmedicalItems" javaType="edu.neu.hoso.model.FmedicalItems" resultMap="edu.neu.hoso.model.FmedicalItemsMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Group_Treatment_Items_ID, Group_Treatment_ID, Fmedical_Items_ID, Quantity, Group_Treatment_Scope
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.hoso.example.GroupTreatmentItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from group_treatment_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.hoso.example.GroupTreatmentItemsExample" >
    delete from group_treatment_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.hoso.model.GroupTreatmentItems" >
    <selectKey resultType="java.lang.Integer" keyProperty="groupTreatmentItemsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into group_treatment_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupTreatmentId != null" >
        Group_Treatment_ID,
      </if>
      <if test="fmedicalItemsId != null" >
        Fmedical_Items_ID,
      </if>
      <if test="quantity != null" >
        Quantity,
      </if>
      <if test="groupTreatmentScope != null" >
        Group_Treatment_Scope,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupTreatmentId != null" >
        #{groupTreatmentId,jdbcType=INTEGER},
      </if>
      <if test="fmedicalItemsId != null" >
        #{fmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="groupTreatmentScope != null" >
        #{groupTreatmentScope,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.hoso.example.GroupTreatmentItemsExample" resultType="java.lang.Integer" >
    select count(*) from group_treatment_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update group_treatment_items
    <set >
      <if test="record.groupTreatmentItemsId != null" >
        Group_Treatment_Items_ID = #{record.groupTreatmentItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.groupTreatmentId != null" >
        Group_Treatment_ID = #{record.groupTreatmentId,jdbcType=INTEGER},
      </if>
      <if test="record.fmedicalItemsId != null" >
        Fmedical_Items_ID = #{record.fmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null" >
        Quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.groupTreatmentScope != null" >
        Group_Treatment_Scope = #{record.groupTreatmentScope,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update group_treatment_items
    set Group_Treatment_Items_ID = #{record.groupTreatmentItemsId,jdbcType=INTEGER},
      Group_Treatment_ID = #{record.groupTreatmentId,jdbcType=INTEGER},
      Fmedical_Items_ID = #{record.fmedicalItemsId,jdbcType=INTEGER},
      Quantity = #{record.quantity,jdbcType=INTEGER},
      Group_Treatment_Scope = #{record.groupTreatmentScope,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.hoso.model.GroupTreatmentItems" >
    update group_treatment_items
    <set >
      <if test="groupTreatmentId != null" >
        Group_Treatment_ID = #{groupTreatmentId,jdbcType=INTEGER},
      </if>
      <if test="fmedicalItemsId != null" >
        Fmedical_Items_ID = #{fmedicalItemsId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        Quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="groupTreatmentScope != null" >
        Group_Treatment_Scope = #{groupTreatmentScope,jdbcType=CHAR},
      </if>
    </set>
    where Group_Treatment_Items_ID = #{groupTreatmentItemsId,jdbcType=INTEGER}
  </update>
</mapper>