<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.hoso.model.MedicalRecordMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.hoso.model.MedicalRecord" >
    <constructor >
      <idArg column="Medical_Record_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Is_Treament_Over" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="First_Diagnosis_Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Final_Diagnosis_Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="First_Diagnosis_Time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="Final_Diagnosis_Time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <!--  添加诊断列表和病历首页的ResultMap by 29-y 2019.06.16 -->
  <resultMap id="SecondResultMap" type="edu.neu.hoso.model.MedicalRecord">
    <id property="medicalRecordId" column="Medical_Record_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="doctorId" column="Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="isTreamentOver" column="Is_Treament_Over" jdbcType="CHAR" javaType="java.lang.String" />
    <result property="firstDiagnosisDoctorId" column="First_Diagnosis_Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="finalDiagnosisDoctorId" column="Final_Diagnosis_Doctor_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="firstDiagnosisTime" column="First_Diagnosis_Time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    <result property="finalDiagnosisTime" column="Final_Diagnosis_Time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    <association property="medicalRecordHomePage" javaType="edu.neu.hoso.model.MedicalRecordHomePage" resultMap="edu.neu.hoso.model.MedicalRecordHomePageMapper.BaseResultMap"/>
    <collection property="diagnosisList" ofType="edu.neu.hoso.model.Diagnosis" resultMap="edu.neu.hoso.model.DiagnosisMapper.SecondResultMap"/>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Medical_Record_ID, Doctor_ID, Is_Treament_Over, First_Diagnosis_Doctor_ID, Final_Diagnosis_Doctor_ID, 
    First_Diagnosis_Time, Final_Diagnosis_Time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.hoso.example.MedicalRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medical_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.hoso.example.MedicalRecordExample" >
    delete from medical_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.hoso.model.MedicalRecord" >
    <selectKey resultType="java.lang.Integer" keyProperty="medicalRecordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into medical_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="doctorId != null" >
        Doctor_ID,
      </if>
      <if test="isTreamentOver != null" >
        Is_Treament_Over,
      </if>
      <if test="firstDiagnosisDoctorId != null" >
        First_Diagnosis_Doctor_ID,
      </if>
      <if test="finalDiagnosisDoctorId != null" >
        Final_Diagnosis_Doctor_ID,
      </if>
      <if test="firstDiagnosisTime != null" >
        First_Diagnosis_Time,
      </if>
      <if test="finalDiagnosisTime != null" >
        Final_Diagnosis_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="isTreamentOver != null" >
        #{isTreamentOver,jdbcType=CHAR},
      </if>
      <if test="firstDiagnosisDoctorId != null" >
        #{firstDiagnosisDoctorId,jdbcType=INTEGER},
      </if>
      <if test="finalDiagnosisDoctorId != null" >
        #{finalDiagnosisDoctorId,jdbcType=INTEGER},
      </if>
      <if test="firstDiagnosisTime != null" >
        #{firstDiagnosisTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalDiagnosisTime != null" >
        #{finalDiagnosisTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.hoso.example.MedicalRecordExample" resultType="java.lang.Integer" >
    select count(*) from medical_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medical_record
    <set >
      <if test="record.medicalRecordId != null" >
        Medical_Record_ID = #{record.medicalRecordId,jdbcType=INTEGER},
      </if>
      <if test="record.doctorId != null" >
        Doctor_ID = #{record.doctorId,jdbcType=INTEGER},
      </if>
      <if test="record.isTreamentOver != null" >
        Is_Treament_Over = #{record.isTreamentOver,jdbcType=CHAR},
      </if>
      <if test="record.firstDiagnosisDoctorId != null" >
        First_Diagnosis_Doctor_ID = #{record.firstDiagnosisDoctorId,jdbcType=INTEGER},
      </if>
      <if test="record.finalDiagnosisDoctorId != null" >
        Final_Diagnosis_Doctor_ID = #{record.finalDiagnosisDoctorId,jdbcType=INTEGER},
      </if>
      <if test="record.firstDiagnosisTime != null" >
        First_Diagnosis_Time = #{record.firstDiagnosisTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finalDiagnosisTime != null" >
        Final_Diagnosis_Time = #{record.finalDiagnosisTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medical_record
    set Medical_Record_ID = #{record.medicalRecordId,jdbcType=INTEGER},
      Doctor_ID = #{record.doctorId,jdbcType=INTEGER},
      Is_Treament_Over = #{record.isTreamentOver,jdbcType=CHAR},
      First_Diagnosis_Doctor_ID = #{record.firstDiagnosisDoctorId,jdbcType=INTEGER},
      Final_Diagnosis_Doctor_ID = #{record.finalDiagnosisDoctorId,jdbcType=INTEGER},
      First_Diagnosis_Time = #{record.firstDiagnosisTime,jdbcType=TIMESTAMP},
      Final_Diagnosis_Time = #{record.finalDiagnosisTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.hoso.model.MedicalRecord" >
    update medical_record
    <set >
      <if test="doctorId != null" >
        Doctor_ID = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="isTreamentOver != null" >
        Is_Treament_Over = #{isTreamentOver,jdbcType=CHAR},
      </if>
      <if test="firstDiagnosisDoctorId != null" >
        First_Diagnosis_Doctor_ID = #{firstDiagnosisDoctorId,jdbcType=INTEGER},
      </if>
      <if test="finalDiagnosisDoctorId != null" >
        Final_Diagnosis_Doctor_ID = #{finalDiagnosisDoctorId,jdbcType=INTEGER},
      </if>
      <if test="firstDiagnosisTime != null" >
        First_Diagnosis_Time = #{firstDiagnosisTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finalDiagnosisTime != null" >
        Final_Diagnosis_Time = #{finalDiagnosisTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Medical_Record_ID = #{medicalRecordId,jdbcType=INTEGER}
  </update>
</mapper>