<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neu.hoso.model.PrescriptionItemsMapper" >
  <resultMap id="BaseResultMap" type="edu.neu.hoso.model.PrescriptionItems" >
    <constructor >
      <idArg column="Prescription_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Prescription_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Drags_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Expense_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Drugs_Usage" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Dosage" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Times" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Days" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Drugs_Advice" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Drugs_Dispensing_Status" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="Actual_Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <!--  添加药品条目的ResultMap by @29-y 2019.06.18 -->
  <resultMap id="SecondResultMap" type="edu.neu.hoso.model.PrescriptionItems">
    <id property="prescriptionItemsId" column="Prescription_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="prescriptionId" column="Prescription_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="dragsId" column="Drags_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="expenseItemsId" column="Expense_Items_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="drugsUsage" column="Drugs_Usage" jdbcType="CHAR" javaType="java.lang.String" />
    <result property="dosage" column="Dosage" jdbcType="DOUBLE" javaType="java.lang.Double" />
    <result property="times" column="Times" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="days" column="Days" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="quantity" column="Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result property="drugsAdvice" column="Drugs_Advice" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result property="drugsDispensingStatus" column="Drugs_Dispensing_Status" jdbcType="CHAR" javaType="java.lang.String" />
    <result property="actualQuantity" column="Actual_Quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <association property="drugs" javaType="edu.neu.hoso.model.Drugs" resultMap="edu.neu.hoso.model.DrugsMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Prescription_Items_ID, Prescription_ID, Drags_ID, Expense_Items_ID, Drugs_Usage, 
    Dosage, Times, Days, Quantity, Drugs_Advice, Drugs_Dispensing_Status, Actual_Quantity
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.neu.hoso.example.PrescriptionItemsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from prescription_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="edu.neu.hoso.example.PrescriptionItemsExample" >
    delete from prescription_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="edu.neu.hoso.model.PrescriptionItems" >
    <selectKey resultType="java.lang.Integer" keyProperty="prescriptionItemsId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into prescription_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="prescriptionId != null" >
        Prescription_ID,
      </if>
      <if test="dragsId != null" >
        Drags_ID,
      </if>
      <if test="expenseItemsId != null" >
        Expense_Items_ID,
      </if>
      <if test="drugsUsage != null" >
        Drugs_Usage,
      </if>
      <if test="dosage != null" >
        Dosage,
      </if>
      <if test="times != null" >
        Times,
      </if>
      <if test="days != null" >
        Days,
      </if>
      <if test="quantity != null" >
        Quantity,
      </if>
      <if test="drugsAdvice != null" >
        Drugs_Advice,
      </if>
      <if test="drugsDispensingStatus != null" >
        Drugs_Dispensing_Status,
      </if>
      <if test="actualQuantity != null" >
        Actual_Quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="prescriptionId != null" >
        #{prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="dragsId != null" >
        #{dragsId,jdbcType=INTEGER},
      </if>
      <if test="expenseItemsId != null" >
        #{expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="drugsUsage != null" >
        #{drugsUsage,jdbcType=CHAR},
      </if>
      <if test="dosage != null" >
        #{dosage,jdbcType=DOUBLE},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="days != null" >
        #{days,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="drugsAdvice != null" >
        #{drugsAdvice,jdbcType=VARCHAR},
      </if>
      <if test="drugsDispensingStatus != null" >
        #{drugsDispensingStatus,jdbcType=CHAR},
      </if>
      <if test="actualQuantity != null" >
        #{actualQuantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.neu.hoso.example.PrescriptionItemsExample" resultType="java.lang.Integer" >
    select count(*) from prescription_items
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update prescription_items
    <set >
      <if test="record.prescriptionItemsId != null" >
        Prescription_Items_ID = #{record.prescriptionItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.prescriptionId != null" >
        Prescription_ID = #{record.prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="record.dragsId != null" >
        Drags_ID = #{record.dragsId,jdbcType=INTEGER},
      </if>
      <if test="record.expenseItemsId != null" >
        Expense_Items_ID = #{record.expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="record.drugsUsage != null" >
        Drugs_Usage = #{record.drugsUsage,jdbcType=CHAR},
      </if>
      <if test="record.dosage != null" >
        Dosage = #{record.dosage,jdbcType=DOUBLE},
      </if>
      <if test="record.times != null" >
        Times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.days != null" >
        Days = #{record.days,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null" >
        Quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.drugsAdvice != null" >
        Drugs_Advice = #{record.drugsAdvice,jdbcType=VARCHAR},
      </if>
      <if test="record.drugsDispensingStatus != null" >
        Drugs_Dispensing_Status = #{record.drugsDispensingStatus,jdbcType=CHAR},
      </if>
      <if test="record.actualQuantity != null" >
        Actual_Quantity = #{record.actualQuantity,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update prescription_items
    set Prescription_Items_ID = #{record.prescriptionItemsId,jdbcType=INTEGER},
      Prescription_ID = #{record.prescriptionId,jdbcType=INTEGER},
      Drags_ID = #{record.dragsId,jdbcType=INTEGER},
      Expense_Items_ID = #{record.expenseItemsId,jdbcType=INTEGER},
      Drugs_Usage = #{record.drugsUsage,jdbcType=CHAR},
      Dosage = #{record.dosage,jdbcType=DOUBLE},
      Times = #{record.times,jdbcType=INTEGER},
      Days = #{record.days,jdbcType=INTEGER},
      Quantity = #{record.quantity,jdbcType=INTEGER},
      Drugs_Advice = #{record.drugsAdvice,jdbcType=VARCHAR},
      Drugs_Dispensing_Status = #{record.drugsDispensingStatus,jdbcType=CHAR},
      Actual_Quantity = #{record.actualQuantity,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.neu.hoso.model.PrescriptionItems" >
    update prescription_items
    <set >
      <if test="prescriptionId != null" >
        Prescription_ID = #{prescriptionId,jdbcType=INTEGER},
      </if>
      <if test="dragsId != null" >
        Drags_ID = #{dragsId,jdbcType=INTEGER},
      </if>
      <if test="expenseItemsId != null" >
        Expense_Items_ID = #{expenseItemsId,jdbcType=INTEGER},
      </if>
      <if test="drugsUsage != null" >
        Drugs_Usage = #{drugsUsage,jdbcType=CHAR},
      </if>
      <if test="dosage != null" >
        Dosage = #{dosage,jdbcType=DOUBLE},
      </if>
      <if test="times != null" >
        Times = #{times,jdbcType=INTEGER},
      </if>
      <if test="days != null" >
        Days = #{days,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        Quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="drugsAdvice != null" >
        Drugs_Advice = #{drugsAdvice,jdbcType=VARCHAR},
      </if>
      <if test="drugsDispensingStatus != null" >
        Drugs_Dispensing_Status = #{drugsDispensingStatus,jdbcType=CHAR},
      </if>
      <if test="actualQuantity != null" >
        Actual_Quantity = #{actualQuantity,jdbcType=INTEGER},
      </if>
    </set>
    where Prescription_Items_ID = #{prescriptionItemsId,jdbcType=INTEGER}
  </update>

  <select id="selectDispensingInPrescription" resultMap="BaseResultMap">
    select prescription_items.*
    from prescription_items join prescription on prescription_items.Prescription_ID=prescription.Prescription_ID
    where prescription.Medical_Record_ID=#{Medical_record_ID} and prescription_items.Drags_ID=#{DrugsId} and prescription_items.Drugs_Dispensing_Status=1 and prescription_items.Expense_Items_ID is not null
  </select>
</mapper>